<div id="wrapper">

    {{#each data}}

    <div class="row">
        <div class="card col-6">
            <div id="articles">
                <div class="card" style="width: 18rem;">
                    <h2 class="card-title">{{this.title}}</h2>
                    <img src="{{this.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{this.summary}}</p>               
                        <a href="{{this.link}}" class="btn btn-primary">Read This Story</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="notes"></div>
    </div>

    {{/each}}
</div>